/** Reset CSS **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
}

html {
  font-size: 120%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

img {
  width: 100%;
  height: 100%
  max-width: 100%;
  display: block;
}

/** Custom CSS **/
#map {
  z-index: 0;
  width: 100%;
  height: 100vh;
}

#path {
  display: none;
  z-index: 1;
  position: absolute;
  right: 1em;
  top: 5em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 10px;
}

@media screen and (max-width: 350px) {
  .leaflet-control-geocoder-expanded {
    width: 200px;
  }
  #path {
    top: 7.3em;
  }
}